.RadComboBox_skinApp {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .RadComboBox_skinApp .rcbInner {
    border-color: #4081a7;
    color: #555555;
    background-color: #ffffff;
    padding: 6px 12px;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .RadComboBox_skinApp .rcbActionButton {
    border-color: #4081a7;
    color: #ffffff;
    background-color: #7fb1ce;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 0 4px 4px 0; }
  .RadComboBox_skinApp .rcbLabel {
    padding-top: 7px; }
  .RadComboBox_skinApp .rcbHovered {
    border-color: #2f5f7b;
    color: #555555;
    background-color: #ffffff; }
  .RadComboBox_skinApp .rcbHovered .rcbActionButton {
    border-color: #2f5f7b;
    color: #ff9933;
    background-color: #ffffff; }
  .RadComboBox_skinApp .rcbFocused {
    border-color: #4081a7;
    color: #555555;
    background-color: #ffffff;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.08); }
  .RadComboBox_skinApp .rcbFocused .rcbActionButton {
    border-color: #1d3a4b;
    color: #333333;
    background-color: #e6e6e6;
    border-color: #4081a7;
    box-shadow: inset -2px 2px 3px rgba(0, 0, 0, 0.08); }
  .RadComboBox_skinApp .rcbDisabled {
    border-color: #4081a7;
    color: #888888;
    background-color: #eeeeee;
    opacity: 1; }
  .RadComboBox_skinApp .rcbDisabled .rcbActionButton {
    border-color: #4081a7;
    color: #888888;
    background-color: #eeeeee; }
  .RadComboBox_skinApp .rcbReadOnly {
    border-color: #4081a7;
    color: #ffffff;
    background-color: #7fb1ce;
    box-shadow: none; }
    .RadComboBox_skinApp .rcbReadOnly.rcbHovered {
      border-color: #2f5f7b;
      color: #ff9933;
      background-color: #ffffff; }
    .RadComboBox_skinApp .rcbReadOnly.rcbFocused {
      border-color: #1d3a4b;
      color: #333333;
      background-color: #e6e6e6;
      border-color: #4081a7;
      box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.08); }
    .RadComboBox_skinApp .rcbReadOnly.rcbDisabled {
      border-color: #4081a7;
      color: #888888;
      background-color: #eeeeee; }

.RadComboBox_skinApp_rtl .rcbActionButton {
  border-radius: 4px 0 0 4px; }

.RadComboBox_skinApp_rtl .rcbFocused .rcbActionButton {
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.08); }

.RadComboBoxDropDown_skinApp {
  border-color: #dddddd;
  color: #333333;
  background-color: #ffffff;
  margin-top: 2px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  overflow: hidden; }
  .RadComboBoxDropDown_skinApp .rcbScroll {
    padding: 5px 0; }
  .RadComboBoxDropDown_skinApp .rcbHeader,
  .RadComboBoxDropDown_skinApp .rcbFooter, .RadComboBoxDropDown_skinApp .rcbCheckAllItems, .RadComboBoxDropDown_skinApp .rcbMoreResults {
    padding: 3px 12px;
    border-color: #dddddd; }
  .RadComboBoxDropDown_skinApp .rcbItem {
    padding: 3px 12px; }
    .RadComboBoxDropDown_skinApp .rcbItem label {
      margin: -3px -12px;
      padding: 3px 12px; }
  .RadComboBoxDropDown_skinApp .rcbSeparator {
    color: #ffffff;
    background-color: #3c8dbc; }
  .RadComboBoxDropDown_skinApp .rcbHovered {
    color: #000000;
    background-color: #eeeeee;
    padding: 3px 12px; }
    .RadComboBoxDropDown_skinApp .rcbHovered label {
      margin: -3px -12px;
      padding: 3px 12px; }
  .RadComboBoxDropDown_skinApp .rcbSelected {
    color: #ffffff;
    background-color: #337ab7;
    padding: 3px 12px; }
    .RadComboBoxDropDown_skinApp .rcbSelected label {
      margin: -3px -12px;
      padding: 3px 12px; }
  .RadComboBoxDropDown_skinApp .rcbDisabled {
    padding: 3px 12px; }
    .RadComboBoxDropDown_skinApp .rcbDisabled label {
      margin: -3px -12px;
      padding: 3px 12px; }
  .RadComboBoxDropDown_skinApp .rcbLoading {
    color: #000000;
    background-color: #eeeeee; }
  .RadComboBoxDropDown_skinApp .rcbItem em {
    color: #000000;
    background-color: #eeeeee; }
  .RadComboBoxDropDown_skinApp .rcbCheckAllItems,
  .RadComboBoxDropDown_skinApp .rcbCheckAllItemsHovered {
    margin: 0;
    padding: 3px 12px; }
    .RadComboBoxDropDown_skinApp .rcbCheckAllItems label,
    .RadComboBoxDropDown_skinApp .rcbCheckAllItemsHovered label {
      margin: -3px -12px;
      padding: 3px 12px; }
