.RadDropDownTree_skinApp {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .RadDropDownTree_skinApp .rddtInner {
    padding: 6px 50px 6px 12px;
    border-radius: 4px;
    border-color: #4081a7;
    color: #ffffff;
    background-color: #7fb1ce; }
  .RadDropDownTree_skinApp .rddtEmptyMessage {
    color: #888888;
    font-style: italic; }
  .RadDropDownTree_skinApp .rddtClearButton {
    color: #ffffff;
    border-color: #4081a7;
    border-radius: 2px;
    right: 30px; }
    .RadDropDownTree_skinApp .rddtClearButton.rddtClearButtonHovered {
      color: #ff9933;
      border-color: #2f5f7b; }
  .RadDropDownTree_skinApp .rddtIcon {
    right: 8px; }
  .RadDropDownTree_skinApp .rddtHovered {
    color: #ff9933;
    background: #ffffff;
    border-color: #2f5f7b; }
  .RadDropDownTree_skinApp .rddtFocused {
    color: #333333;
    background: #e6e6e6;
    border-color: #1d3a4b;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.rddtPopup_skinApp {
  margin-top: 2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  background: #ffffff;
  border-color: #dddddd;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
  .rddtPopup_skinApp .rddtFilter {
    margin: 0;
    border-radius: 3px 3px 0 0;
    color: #ffffff;
    background: #3c8dbc;
    border-color: #dddddd; }
    .rddtPopup_skinApp .rddtFilter .rddtFilterInput {
      color: #555555;
      background: #ffffff;
      border-color: #4081a7; }
    .rddtPopup_skinApp .rddtFilter .rddtFilterEmptyMessage {
      color: #888888;
      font-style: italic; }
  .rddtPopup_skinApp .RadTreeView em {
    color: #000000;
    background: #eeeeee; }
