.RadDropDownList_skinApp {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .RadDropDownList_skinApp .rddlInner {
    border-color: #4081a7;
    color: #ffffff;
    background-color: #7fb1ce;
    padding: 6px 12px;
    border-radius: 4px; }
  .RadDropDownList_skinApp .rddlSelect {
    padding-top: 6px;
    padding-bottom: 6px; }
  .RadDropDownList_skinApp .rddlHovered {
    border-color: #2f5f7b;
    color: #ff9933;
    background-color: #ffffff; }
  .RadDropDownList_skinApp .rddlFocused {
    border-color: #1d3a4b;
    color: #333333;
    background-color: #e6e6e6;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08) inset; }

.rddlPopup_skinApp {
  border-color: #dddddd;
  color: #333333;
  background-color: #ffffff;
  margin-top: 2px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .rddlPopup_skinApp .rddlHeader,
  .rddlPopup_skinApp .rddlFooter {
    border-color: #dddddd; }
  .rddlPopup_skinApp .rddlList {
    padding: 5px 0;
    box-sizing: border-box; }
  .rddlPopup_skinApp .rddlItem {
    padding: 3px 12px; }
  .rddlPopup_skinApp .rddlItemHovered, .rddlPopup_skinApp .rddlItemLoading {
    color: #000000;
    background-color: #eeeeee; }
  .rddlPopup_skinApp .rddlItemSelected {
    color: #ffffff;
    background-color: #337ab7; }
