.RadFilter_skinApp {
  font: 14px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .RadFilter_skinApp a,
  .RadFilter_skinApp .rfText,
  .RadFilter_skinApp .rfApply input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333; }
  .RadFilter_skinApp li li .rfDiv {
    padding-top: .55em; }
  .RadFilter_skinApp .rfOper:hover,
  .RadFilter_skinApp .rfField:hover,
  .RadFilter_skinApp .rfExp:hover,
  .RadFilter_skinApp .rfAddGr:hover,
  .RadFilter_skinApp .rfAddExp:hover,
  .RadFilter_skinApp .rfDel:hover {
    background-color: #ffffff; }
  .RadFilter_skinApp .rfMid,
  .RadFilter_skinApp .rfTools {
    padding: .5em 0;
    height: 2.3em;
    border-style: solid;
    border-color: #4081a7;
    background: #3c8dbc; }
  .RadFilter_skinApp .rfMid {
    padding-left: .57em;
    border-width: 1px 0 1px 1px; }
  .RadFilter_skinApp .rfTools {
    padding-right: .57em;
    border-width: 1px 1px 1px 0; }
  .RadFilter_skinApp .rfCheckBox {
    display: inline-block;
    margin-right: 0;
    text-align: center; }
    .RadFilter_skinApp .rfCheckBox input {
      margin-top: .67em; }
  .RadFilter_skinApp .rfDel,
  .RadFilter_skinApp .rfAddGr,
  .RadFilter_skinApp .rfAddExp {
    box-sizing: border-box;
    margin: 0;
    width: 2.14em;
    height: 2.42857em;
    line-height: 2.29;
    border: 1px solid #4081a7;
    border-left-width: 0;
    background-color: #7fb1ce; }
    .RadFilter_skinApp .rfDel:before,
    .RadFilter_skinApp .rfAddGr:before,
    .RadFilter_skinApp .rfAddExp:before {
      line-height: 1.9; }
  .RadFilter_skinApp .rfDel {
    border-radius: 0 0.29em 0.29em 0; }
  .RadFilter_skinApp .rfField {
    color: #ffffff; }
  .RadFilter_skinApp .rfOper:before,
  .RadFilter_skinApp .rfField:before,
  .RadFilter_skinApp .rfExp:before {
    line-height: 1.6; }
  .RadFilter_skinApp .rfOper,
  .RadFilter_skinApp .rfField,
  .RadFilter_skinApp .rfExp,
  .RadFilter_skinApp .rfText {
    box-sizing: border-box;
    padding: 0 27px 0 8px;
    height: 2.42857em;
    display: inline-block;
    line-height: 2.29;
    vertical-align: top;
    background-color: #7fb1ce;
    border: 1px solid #4081a7; }
  .RadFilter_skinApp .rfText {
    border-color: #4081a7;
    background-color: #ffffff;
    color: #555555; }
    .RadFilter_skinApp .rfText:hover {
      border-color: #2f5f7b;
      color: #555555; }
  .RadFilter_skinApp .rfOper {
    border-radius: 0.29em 0 0 0.29em; }
  .RadFilter_skinApp .rfField {
    color: #ffffff;
    border-radius: 0.29em 0 0 0.29em; }
  .RadFilter_skinApp a.rcTimePopup {
    border-radius: 0; }
  .RadFilter_skinApp .RadDropDownList .rddlInner,
  .RadFilter_skinApp .rfExp,
  .RadFilter_skinApp .rfText,
  .RadFilter_skinApp input.riTextBox {
    border-left-width: 0;
    border-radius: 0; }
  .RadFilter_skinApp .rfCheckBox {
    width: 2.14em;
    height: 2.14em;
    border: 1px solid #4081a7;
    background-color: #ffffff;
    margin: 0 0 0 -1px; }
  .RadFilter_skinApp .rfPreview {
    color: #333333; }
    .RadFilter_skinApp .rfPreview strong {
      opacity: .7; }
    .RadFilter_skinApp .rfPreview em,
    .RadFilter_skinApp .rfPreview .rfBr {
      color: #428bca; }
    .RadFilter_skinApp .rfPreview .rfBr {
      font-weight: bold; }
  .RadFilter_skinApp .rfApply a,
  .RadFilter_skinApp .rfApply span {
    padding: 0.14em 1.14em;
    height: 1.86em;
    border: 1px solid #4081a7;
    border-radius: .29em;
    background: #7fb1ce;
    color: #555555; }
    .RadFilter_skinApp .rfApply a input,
    .RadFilter_skinApp .rfApply span input {
      padding: 0;
      line-height: 1.9; }
    .RadFilter_skinApp .rfApply a:hover,
    .RadFilter_skinApp .rfApply span:hover {
      color: #ff9933;
      background: #ffffff;
      border: 1px solid #2f5f7b; }
