.RadListBox_skinApp {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .RadListBox_skinApp .rlbButton {
    border-color: #4081a7;
    color: #ffffff;
    background-color: #7fb1ce;
    padding: 6px;
    border-radius: 4px; }
    .RadListBox_skinApp .rlbButton:hover:not(.rlbDisabled) {
      border-color: #2f5f7b;
      color: #ff9933;
      background-color: #ffffff; }
    .RadListBox_skinApp .rlbButton:active:not(.rlbDisabled) {
      border-color: #1d3a4b;
      color: #333333;
      background-color: #e6e6e6; }
  .RadListBox_skinApp .rlbButtonAreaTop {
    margin-bottom: 7px; }
  .RadListBox_skinApp .rlbButtonAreaBottom {
    margin-top: 7px; }
  .RadListBox_skinApp .rlbGroup,
  .RadListBox_skinApp .rlbTemplateContent {
    border-color: #dddddd;
    color: #333333;
    background-color: #ffffff; }
  .RadListBox_skinApp .rlbHeader,
  .RadListBox_skinApp .rlbFooter {
    padding: 3px 12px;
    border-color: #dddddd;
    color: #ffffff;
    background-color: #3c8dbc; }
  .RadListBox_skinApp .rlbList {
    padding: 0; }
  .RadListBox_skinApp .rlbCheckAllItems {
    color: #ffffff;
    background-color: #3c8dbc; }
  .RadListBox_skinApp .rlbCheckAllItemsHovered {
    color: #333333;
    background-color: #e4e4e4; }
  .RadListBox_skinApp .rlbCheckAllItems > label {
    margin-left: -3px; }
  .RadListBox_skinApp .rlbItem {
    padding: 3px 12px; }
  .RadListBox_skinApp .rlbHighlight {
    color: #000000;
    background-color: #eeeeee; }
  .RadListBox_skinApp .rlbItem.rlbHovered {
    color: #000000;
    background-color: #eeeeee; }
  .RadListBox_skinApp .rlbItem.rlbSelected {
    color: #ffffff;
    background-color: #337ab7; }
  .RadListBox_skinApp .rlbImage {
    margin-left: -4px;
    margin-right: 4px;
    padding: 0; }
  .RadListBox_skinApp .rlbGroup .rlbSelected.rlbDropClueAbove {
    border-top-color: #fff; }
  .RadListBox_skinApp .rlbGroup .rlbSelected.rlbDropClueBelow {
    border-bottom-color: #fff; }

.RadListBox_skinApp[dir="rtl"] .rlbCheck {
  margin-left: 4px;
  margin-right: -4px; }

.RadListBox_skinApp[dir="rtl"] .rlbImage {
  margin-left: 4px;
  margin-right: -4px; }

.RadListBox_skinApp.RadListBoxButtonAreaTop.rlbFixedHeight {
  padding: 20px 0 1.42857em; }
  .RadListBox_skinApp.RadListBoxButtonAreaTop.rlbFixedHeight .rlbButtonAreaTop {
    margin-top: -20px; }

.RadListBox_skinApp.RadListBoxButtonAreaBottom.rlbFixedHeight {
  padding: 20px 0 1.42857em; }
  .RadListBox_skinApp.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbGroup,
  .RadListBox_skinApp.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbTemplate {
    margin-top: -20px; }
