.RadMenu_skinApp {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .RadMenu_skinApp .rmRootGroup {
    border-color: #dddddd;
    color: #ffffff;
    background-color: #3c8dbc;
    border-radius: 4px; }
  .RadMenu_skinApp .rmRootGroup.rmVertical > .rmItem,
  .RadMenu_skinApp .rmRootGroup.rmVertical > .rmRootScrollGroup > .rmItem {
    float: none; }
  .RadMenu_skinApp .rmRootGroup > .rmItem,
  .RadMenu_skinApp .rmRootGroup > .rmRootScrollGroup > .rmItem {
    border-color: transparent; }
  .RadMenu_skinApp .rmRootGroup .rmRootLink {
    padding: 15px;
    color: #ffffff; }
  .RadMenu_skinApp .rmVertical .rmRootLink {
    padding-top: 10px;
    padding-bottom: 10px; }
  .RadMenu_skinApp .rmRootLink .rmText,
  .RadMenu_skinApp .rmVertical .rmRootLink .rmText {
    padding: 0; }
  .RadMenu_skinApp .rmRootLink:hover {
    color: #333333;
    background-color: #e4e4e4; }
  .RadMenu_skinApp .rmFocused .rmRootLink {
    box-shadow: 0 0 3px 1px rgba(196, 196, 196, 0.5) inset; }
  .RadMenu_skinApp .rmSelected .rmRootLink,
  .RadMenu_skinApp .rmExpanded .rmRootLink {
    color: #333333;
    background-color: #e4e4e4;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.13) inset; }
  .RadMenu_skinApp .rmRootLink.rmDisabled,
  .RadMenu_skinApp .rmRootLink.rmDisabled:hover {
    color: #777777;
    border-color: transparent;
    background-color: transparent;
    box-shadow: none; }
  .RadMenu_skinApp .rmVertical > .rmSeparator {
    margin: 0; }
  .RadMenu_skinApp .rmRootGroup.rmHorizontal > .rmSeparator,
  .RadMenu_skinApp .rmRootGroup.rmHorizontal > .rmRootScrollGroup > .rmSeparator {
    display: none; }
  .RadMenu_skinApp .rmRootGroup.rmVertical > .rmItem.rmSeparator,
  .RadMenu_skinApp .rmRootGroup.rmVertical > .rmRootScrollGroup > .rmItem.rmSeparator {
    margin: 9px 0;
    height: 1px;
    border-width: 0;
    overflow: hidden;
    background-color: #e5e5e5; }
  .RadMenu_skinApp .rmGroup,
  .RadMenu_skinApp .rmPopup,
  .RadMenu_skinApp .rmMultiColumn {
    padding: 0;
    border: 1px solid #dddddd;
    border-radius: 4px;
    color: #333333;
    background-color: #ffffff; }
  .RadMenu_skinApp .rmGroup.rmVertical {
    padding: 5px 0; }
  .RadMenu_skinApp .rmGroup.rmHorizontal {
    padding: 5px; }
  .RadMenu_skinApp .rmSlide .rmScrollWrap .rmVertical {
    padding: 5px 0; }
  .RadMenu_skinApp .rmSlide .rmScrollWrap .rmHorizontal {
    padding: 5px; }
  .RadMenu_skinApp .rmExpandDown + .rmSlide .rmGroup,
  .RadMenu_skinApp .rmExpandDown + .rmSlide .rmMultiColumn {
    border-radius: 0 0 4px 4px; }
  .RadMenu_skinApp .rmGroup .rmLink {
    padding: 3px 30px;
    border-width: 0;
    color: #333333; }
  .RadMenu_skinApp .rmGroup .rmLink .rmText {
    padding: 0;
    margin: 0; }
  .RadMenu_skinApp .rmGroup .rmLink:hover {
    border-color: #e1e1e1;
    color: #000000;
    background-color: #eeeeee; }
  .RadMenu_skinApp .rmGroup .rmFocused {
    box-shadow: 0 0 3px 1px rgba(40, 95, 143, 0.5) inset; }
  .RadMenu_skinApp .rmGroup .rmSelected > .rmLink,
  .RadMenu_skinApp .rmGroup .rmSelected > .rmLink:hover,
  .RadMenu_skinApp .rmGroup .rmExpanded > .rmLink,
  .RadMenu_skinApp .rmGroup .rmExpanded > .rmLink:hover {
    border-color: #285f8f;
    color: #ffffff;
    background-color: #337ab7; }
  .RadMenu_skinApp .rmGroup .rmDisabled > .rmLink,
  .RadMenu_skinApp .rmGroup .rmDisabled > .rmLink:hover {
    color: #777777;
    border-color: transparent;
    background-color: transparent; }
  .RadMenu_skinApp .rmSeparator {
    border-color: #e5e5e5 transparent transparent #e5e5e5; }
  .RadMenu_skinApp .rmLeftArrow,
  .RadMenu_skinApp .rmRightArrow,
  .RadMenu_skinApp .rmTopArrow,
  .RadMenu_skinApp .rmBottomArrow {
    border-color: #4081a7;
    color: #ffffff;
    background-color: #7fb1ce;
    border-width: 0;
    border-style: solid; }
    .RadMenu_skinApp .rmLeftArrow:hover,
    .RadMenu_skinApp .rmRightArrow:hover,
    .RadMenu_skinApp .rmTopArrow:hover,
    .RadMenu_skinApp .rmBottomArrow:hover {
      border-color: #2f5f7b;
      color: #ff9933;
      background-color: #ffffff; }
  .RadMenu_skinApp .rmLeftArrow,
  .RadMenu_skinApp .rmRightArrow {
    height: 100%; }
  .RadMenu_skinApp .rmLeftArrow {
    border-right-width: 1px; }
  .RadMenu_skinApp .rmRightArrow {
    border-left-width: 1px; }
  .RadMenu_skinApp .rmTopArrow {
    border-bottom-width: 1px; }
  .RadMenu_skinApp .rmBottomArrow {
    border-top-width: 1px; }
  .RadMenu_skinApp .rmTopFix,
  .RadMenu_skinApp .rmTopLeft,
  .RadMenu_skinApp .rmTopRight,
  .RadMenu_skinApp .rmBottomFix,
  .RadMenu_skinApp .rmBottomLeft,
  .RadMenu_skinApp .rmBottomRight {
    display: none; }
  .RadMenu_skinApp .rmShadows .rmGroup {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); }
  .RadMenu_skinApp .rmGroup:before,
  .RadMenu_skinApp .rmMultiColumn:before,
  .RadMenu_skinApp .rmScrollWrap > .rmHorizontal:before,
  .RadMenu_skinApp .rmScrollWrap > .rmVertical:before {
    display: none; }
