.RadTileList_skinApp {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .RadTileList_skinApp .rtlistTitle {
    color: #333333; }
  .RadTileList_skinApp .rtlistGroupSeparatorVisible {
    background-color: #a8ceef; }
