.RadToolBar_skinApp {
  border-color: #dddddd;
  color: #ffffff;
  background-color: #3c8dbc;
  padding: 8px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .RadToolBar_skinApp:before {
    padding: 6px 0; }
  .RadToolBar_skinApp_Horizontal .rtbItem + .rtbItem {
    margin-left: 5px; }
  .RadToolBar_skinApp .rtbSeparator {
    border-color: #4081a7 #ffffff #ffffff #4081a7; }
  .RadToolBar_skinApp .rtbButton {
    border-color: #4081a7;
    color: #ffffff;
    background-color: #7fb1ce;
    padding: 6px 12px;
    border-radius: 4px; }
  .RadToolBar_skinApp .rtbIconOnly {
    padding: 6px; }
  .RadToolBar_skinApp .rtbArrow {
    margin: -6px -12px -6px 0;
    padding: 6px 12px;
    display: inline-block;
    vertical-align: middle; }
  .RadToolBar_skinApp .rtbMore {
    border-color: #dddddd;
    color: #ffffff;
    background-color: #3c8dbc;
    padding: 14px; }
  .RadToolBar_skinApp .rtbSplitButton {
    padding: 0; }
    .RadToolBar_skinApp .rtbSplitButton .rtbSplBtnActivator {
      padding: 6px 12px; }
    .RadToolBar_skinApp .rtbSplitButton .rtbArrow {
      margin: 0; }
  .RadToolBar_skinApp .rtbHovered .rtbButton,
  .RadToolBar_skinApp .rtbHovered.rtbMore {
    border-color: #2f5f7b;
    color: #ff9933;
    background-color: #ffffff; }
  .RadToolBar_skinApp .rtbFocused .rtbButton,
  .RadToolBar_skinApp .rtbFocused.rtbMore {
    border-color: #1d3a4b;
    box-shadow: inset 0 0 5px #1d3a4b; }
  .RadToolBar_skinApp .rtbPressed .rtbButton,
  .RadToolBar_skinApp .rtbChecked .rtbButton,
  .RadToolBar_skinApp .rtbExpanded .rtbButton,
  .RadToolBar_skinApp .rtbExpanded.rtbMore {
    border-color: #1d3a4b;
    color: #333333;
    background-color: #e6e6e6; }

.rtbPopup_skinApp {
  border-color: #dddddd;
  color: #333333;
  background-color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .rtbPopup_skinApp .rtbMenu,
  .rtbPopup_skinApp .rtUL {
    padding: 5px 0; }
  .rtbPopup_skinApp .rtbInner {
    border-radius: 3px; }
  .rtbPopup_skinApp .rtbLink .rtbImage,
  .rtbPopup_skinApp .rtbInner .rtbImage {
    left: 8px; }
  .rtbPopup_skinApp .rtbSeparator {
    margin: 9px 0;
    border-width: 1px 0 0;
    border-color: #4081a7; }
  .rtbPopup_skinApp .rtbHovered > .rtbLink {
    border-color: #e1e1e1;
    color: #000000;
    background-color: #eeeeee; }
  .rtbPopup_skinApp .rtbHovered > .rtbInner {
    border-color: #2f5f7b;
    color: #ff9933;
    background-color: #ffffff; }
    .rtbPopup_skinApp .rtbHovered > .rtbInner .rtbArrow {
      border-left-color: #2f5f7b; }
  .rtbPopup_skinApp .rtbFocused > .rtbLink {
    border-color: #285f8f;
    box-shadow: inset 0 0 5px #285f8f; }
  .rtbPopup_skinApp .rtbFocused > .rtbInner {
    border-color: rgba(29, 58, 75, 0.5);
    box-shadow: inset 0 0 5px #1d3a4b; }
    .rtbPopup_skinApp .rtbFocused > .rtbInner .rtbArrow {
      border-left-color: rgba(29, 58, 75, 0.5); }
  .rtbPopup_skinApp .rtbSelected > .rtbLink {
    border-color: #285f8f;
    color: #ffffff;
    background-color: #337ab7; }
  .rtbPopup_skinApp .rtbSelected > .rtbInner,
  .rtbPopup_skinApp .rtbChecked > .rtbInner,
  .rtbPopup_skinApp .rtbExpanded > .rtbInner {
    border-color: #1d3a4b;
    color: #333333;
    background-color: #e6e6e6; }
    .rtbPopup_skinApp .rtbSelected > .rtbInner .rtbArrow,
    .rtbPopup_skinApp .rtbChecked > .rtbInner .rtbArrow,
    .rtbPopup_skinApp .rtbExpanded > .rtbInner .rtbArrow {
      border-left-color: #1d3a4b; }
  .rtbPopup_skinApp .rtbMenu:before {
    display: none; }
  .rtbPopup_skinApp.rtbShadows {
    box-shadow: 3px 3px 3px #dddddd; }
