<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceGestion" />
                <binding name="BasicHttpBinding_IServiceAcceso" />
                <binding name="BasicHttpBinding_IServiceToken" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.51.211.168/SSToken/ServiceSSToken.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceGestion"
                contract="Serv_Admin.IServiceGestion" name="BasicHttpBinding_IServiceGestion" />
            <endpoint address="http://10.51.211.168/SSToken/ServiceSSToken.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceAcceso"
                contract="Serv_Admin.IServiceAcceso" name="BasicHttpBinding_IServiceAcceso" />
            <endpoint address="http://10.51.211.168/SSToken/ServiceToken.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceToken"
                contract="Serv_Token.IServiceToken" name="BasicHttpBinding_IServiceToken" />
        </client>
    </system.serviceModel>
</configuration>