.RadButton_GlowApp {
  /* Primary Button styles */
  /* Right to Left Support */ }
  .RadButton_GlowApp.rbButton,
  .RadButton_GlowApp.RadButton.rbButton.rbDisabled,
  .RadButton_GlowApp .rbSplitPart {
    border-color: #1c262c;
    color: #e2e8eb;
    background-color: #1c262c;
    background-image: linear-gradient(#30414b, #1c262c); }
  .RadButton_GlowApp.rbButton.rbHovered,
  .RadButton_GlowApp.rbButton.rbToggled.rbHovered,
  .RadButton_GlowApp.rbButton .rbHovered {
    border-color: #cd8100;
    color: #713600;
    background-color: #cd8100;
    background-image: linear-gradient(#ffa201, #cd8100); }
  .RadButton_GlowApp.rbButton.rbSelected,
  .RadButton_GlowApp.rbButton.rbToggled,
  .RadButton_GlowApp.rbSelected .rbHovered,
  .RadButton_GlowApp.rbButton:focus {
    border-color: #cd8100;
    color: #713600;
    background-color: #ffa915;
    background-image: none; }
  .RadButton_GlowApp.rbButton:hover,
  .RadButton_GlowApp.rbButton.rbHovered .rbSplitPart {
    border-color: #cd8100; }
  .RadButton_GlowApp.rbButton.rbSelected,
  .RadButton_GlowApp.rbButton.rbSelected:active .rbSplitPart {
    border-color: #cd8100; }
  .RadButton_GlowApp .rbSplitPart .rbIcon,
  .RadButton_GlowApp.rbButton.rbHovered .rbSplitPart .rbIcon,
  .RadButton_GlowApp.rbButton.rbHovered.rbSelected .rbSplitPart .rbIcon {
    color: #e2e8eb; }
  .RadButton_GlowApp.rbButton:hover .rbHovered .rbIcon {
    color: #713600; }
  .RadButton_GlowApp.rbButton.rbSelected .rbHovered .rbSplitPart .rbIcon,
  .RadButton_GlowApp.rbButton.rbSelected .rbSplitPart .rbIcon {
    color: #713600; }
  .RadButton_GlowApp.rbCheckBox .rbText,
  .RadButton_GlowApp.rbRadioButton .rbText,
  .RadButton_GlowApp.rbToggleButton .rbText {
    color: #e2e8eb; }
  .RadButton_GlowApp .rbIcon,
  .RadButton_GlowApp .rbText:before {
    color: #e2e8eb; }
  .RadButton_GlowApp.rbButton .rbIcon {
    color: #e2e8eb; }
  .RadButton_GlowApp.rbHovered .rbIcon,
  .RadButton_GlowApp.rbHovered .rbText:before {
    color: #ffa915; }
  .RadButton_GlowApp.rbButton.rbHovered .rbIcon {
    color: #713600; }
  .RadButton_GlowApp .rbToggleCheckboxChecked,
  .RadButton_GlowApp .rbToggleCheckboxFilled,
  .RadButton_GlowApp.rbCheckBox .rbToggleCheckboxChecked.rbIcon,
  .RadButton_GlowApp.rbRadioButton .rbToggleRadioChecked.rbIcon,
  .RadButton_GlowApp.rbToggled .rbToggleCheckBoxChecked.rbIcon,
  .RadButton_GlowApp.rbToggled .rbToggleRadioChecked.rbIcon,
  .RadButton_GlowApp .rbText.rbToggleCheckboxChecked:before,
  .RadButton_GlowApp .rbText.rbToggleRadioChecked:before {
    color: #ffa915; }
  .RadButton_GlowApp.rbButton.rbToggled .rbIcon {
    color: #713600; }
  .RadButton_GlowApp.rbHovered .rbToggleCheckboxFilled,
  .RadButton_GlowApp.rbToggled.rbHovered .rbIcon,
  .RadButton_GlowApp.rbHovered .rbToggleCheckboxChecked.rbIcon,
  .RadButton_GlowApp.rbHovered .rbToggleRadioChecked.rbIcon,
  .RadButton_GlowApp.rbHovered .rbText.rbToggleCheckboxChecked:before,
  .RadButton_GlowApp.rbHovered .rbText.rbToggleRadioChecked:before {
    color: #e2e8eb; }
  .RadButton_GlowApp.rbButton.rbToggled.rbHovered .rbIcon {
    color: #713600; }
  .RadButton_GlowApp.rbPrimaryButton .rbIcon {
    color: #713600; }
  .RadButton_GlowApp.rbPrimaryButton.rbButton .rbIcon {
    color: #713600; }
  .RadButton_GlowApp.rbPrimaryButton.rbHovered .rbIcon {
    color: #713600; }
  .RadButton_GlowApp.rbPrimaryButton.rbButton.rbHovered .rbIcon {
    color: #713600; }
  .RadButton_GlowApp.rbPrimaryButton.rbCheckBox .rbToggleCheckboxChecked.rbIcon,
  .RadButton_GlowApp.rbPrimaryButton.rbRadioButton .rbToggleRadioChecked.rbIcon,
  .RadButton_GlowApp.rbPrimaryButton.rbToggled .rbToggleCheckBoxChecked.rbIcon,
  .RadButton_GlowApp.rbPrimaryButton.rbToggled .rbToggleRadioChecked.rbIcon {
    color: #713600; }
  .RadButton_GlowApp.rbPrimaryButton.rbButton.rbToggled .rbIcon {
    color: #713600; }
  .RadButton_GlowApp.rbPrimaryButton.rbToggled.rbHovered .rbIcon,
  .RadButton_GlowApp.rbPrimaryButton.rbHovered .rbToggleCheckboxChecked.rbIcon,
  .RadButton_GlowApp.rbPrimaryButton.rbHovered .rbToggleRadioChecked.rbIcon {
    color: #713600; }
  .RadButton_GlowApp.rbPrimaryButton.rbButton.rbToggled.rbHovered .rbIcon {
    color: #713600; }
  .RadButton_GlowApp.rbPrimaryButton,
  .RadButton_GlowApp.RadButton.rbButton.rbPrimaryButton.rbDisabled {
    border-color: #dc9314;
    color: #713600;
    background-color: #dc9314;
    background-image: linear-gradient(#ecaa37, #dc9314); }
  .RadButton_GlowApp.rbButton.rbRtl .rbSplitPart,
  .RadButton_GlowApp.rbButton.rbRtl .rbSplitPart.rbHovered {
    border-right-color: #1c262c; }
  .RadButton_GlowApp.rbButton.rbRtl .rbSplitPart.rbSelected {
    border-right-color: #cd8100; }
