.RadCalendar_GlowApp {
  background: #35434b;
  color: #e2e8eb;
  box-shadow: 0 0 6px -2px #000000; }
  .RadCalendar_GlowApp .rcTitlebar {
    border-color: #181f22;
    background-color: #1c2428;
    color: #c1c7ca;
    font-size: .786em;
    line-height: 1.81818;
    text-transform: uppercase; }
  .RadCalendar_GlowApp .t-button:hover {
    border-color: #cd8100;
    color: #713600;
    background-color: #cd8100;
    background-image: linear-gradient(#ffa201, #cd8100); }
  .RadCalendar_GlowApp .t-button:focus,
  .RadCalendar_GlowApp .t-button:active {
    border-color: #cd8100;
    color: #713600;
    background-color: #ffa915;
    background-image: none; }
  .RadCalendar_GlowApp .rcPrev,
  .RadCalendar_GlowApp .rcNext,
  .RadCalendar_GlowApp .rcFastPrev,
  .RadCalendar_GlowApp .rcFastNext {
    font-size: .786em;
    line-height: 1.81818; }
  .RadCalendar_GlowApp .rcMain {
    border-color: #1c2327; }
  .RadCalendar_GlowApp .rcHeader,
  .RadCalendar_GlowApp .rcFooter {
    border-color: #1c2327; }
  .RadCalendar_GlowApp .rcWeek th {
    border-color: #273237;
    background: #2b373d;
    color: #c1c7ca; }
  .RadCalendar_GlowApp .rcRow th {
    color: #c1c7ca;
    background-color: #2f3c43; }
  .RadCalendar_GlowApp .rcRow td {
    border-color: #1c262c;
    border-color: transparent; }
  .RadCalendar_GlowApp .rcRow .rcToday a {
    border-color: #f4a620;
    color: white; }
  .RadCalendar_GlowApp .rcMain .rcOtherMonth a,
  .RadCalendar_GlowApp .rcMain .rcOutOfRange span {
    color: #7a858b; }
  .RadCalendar_GlowApp .rcMain .rcSelected a,
  .RadCalendar_GlowApp .rcMain .rcSelected span {
    border-color: #ffa915;
    color: #000000;
    background-color: #ffa915; }
  .RadCalendar_GlowApp .rcMain .rcHover a,
  .RadCalendar_GlowApp .rcMain .rcHover span {
    border-color: #4d5c65;
    color: #ffffff;
    background-color: #4d5c65; }
  .RadCalendar_GlowApp .rcMain .rcFocus a,
  .RadCalendar_GlowApp .rcMain .rcFocus span {
    border-color: #ffa915;
    box-shadow: 0 0 3px #ffa915 inset; }

.RadCalendarMultiView_GlowApp .rcTitlebar {
  border-color: #273237;
  color: #c1c7ca;
  background-color: #2b373d;
  background-image: linear-gradient(#414e55, #2b373d);
  box-shadow: 0 0 6px 2px rgba(83, 96, 106, 0.6) inset; }

.RadCalendarMultiView_GlowApp .rcMain {
  border-color: #1c2327; }

.RadCalendarMultiView_GlowApp .rcMainTable .rcTitle {
  border-color: #181f22;
  background-color: #1c2428;
  color: #c1c7ca;
  font-size: 0.786em;
  line-height: 1.81818;
  text-transform: uppercase; }

.RadCalendarMonthView_GlowApp {
  border-color: #20282d;
  color: #c1c7ca;
  background-color: #242e33; }
  .RadCalendarMonthView_GlowApp .rcHover a,
  .RadCalendarMonthView_GlowApp a:hover {
    border-color: #4d5c65;
    color: #ffffff;
    background-color: #4d5c65; }
  .RadCalendarMonthView_GlowApp .rcSelected a {
    border-color: #ffa915;
    color: #000000;
    background-color: #ffa915;
    box-shadow: inset 0 0px 5px 0px rgba(89, 46, 0, 0.75); }
  .RadCalendarMonthView_GlowApp .rcButtons a {
    border-color: #1c262c;
    color: #e2e8eb;
    background-color: #1c262c;
    background-image: linear-gradient(#30414b, #1c262c); }
    .RadCalendarMonthView_GlowApp .rcButtons a:hover {
      border-color: #cd8100;
      color: #713600;
      background-color: #cd8100;
      background-image: linear-gradient(#ffa201, #cd8100); }
    .RadCalendarMonthView_GlowApp .rcButtons a:active {
      border-color: #cd8100;
      color: #713600;
      background-color: #ffa915;
      background-image: none; }

.RadCalendarTimeView_GlowApp {
  border-color: #20282d;
  color: #c1c7ca;
  background-color: #242e33; }
  .RadCalendarTimeView_GlowApp th {
    border-color: #273237;
    color: #c1c7ca;
    background-color: #2b373d;
    background-image: linear-gradient(#414e55, #2b373d); }
  .RadCalendarTimeView_GlowApp td.rcSelected a {
    border-color: #ffa915;
    color: #000000;
    background-color: #ffa915; }
  .RadCalendarTimeView_GlowApp td.rcHover a {
    border-color: #4d5c65;
    color: #ffffff;
    background-color: #4d5c65; }
  .RadCalendarTimeView_GlowApp .rcFooter {
    border-color: #20282d; }

.RadPicker_GlowApp .riLabel {
  color: #e2e8eb; }

.RadPicker_GlowApp.rcCalPopupOpen .RadInput,
.RadPicker_GlowApp.rcMYPopupOpen .RadInput,
.RadPicker_GlowApp.rcTimePopupOpen .RadInput {
  border-color: #cd8100;
  color: #fff;
  background-color: #1c262c; }

.RadPicker_GlowApp.rcCalPopupOpen .rcCalPopup,
.RadPicker_GlowApp.rcMYPopupOpen .rcCalPopup,
.RadPicker_GlowApp.rcTimePopupOpen .rcTimePopup {
  border-color: #cd8100;
  color: #713600;
  background-color: #ffa915;
  background-image: none; }
