.RadComboBox_GlowApp .rcbInner {
  border-color: #1c262c;
  color: #fff;
  background-color: #1c262c; }

.RadComboBox_GlowApp .rcbActionButton {
  border-color: #1c262c;
  color: #e2e8eb;
  background-color: #1c262c;
  background-image: linear-gradient(#30414b, #1c262c); }

.RadComboBox_GlowApp .rcbSeparator {
  background-color: #2b373d; }

.RadComboBox_GlowApp .rcbHovered {
  border-color: #cd8100;
  color: #fff;
  background-color: #1c262c; }

.RadComboBox_GlowApp .rcbHovered .rcbActionButton {
  border-color: #cd8100;
  color: #713600;
  background-color: #cd8100;
  background-image: linear-gradient(#ffa201, #cd8100); }

.RadComboBox_GlowApp .rcbFocused,
.RadComboBox_GlowApp .rcbExpanded {
  border-color: #cd8100;
  color: #fff;
  background-color: #1c262c; }
  .RadComboBox_GlowApp .rcbFocused .rcbActionButton,
  .RadComboBox_GlowApp .rcbExpanded .rcbActionButton {
    border-color: #cd8100;
    color: #713600;
    background-color: #ffa915;
    background-image: none; }

.RadComboBox_GlowApp .rcbReadOnly {
  border-color: #1c262c;
  color: #e2e8eb;
  background-color: #1c262c;
  background-image: linear-gradient(#30414b, #1c262c); }
  .RadComboBox_GlowApp .rcbReadOnly.rcbHovered {
    border-color: #cd8100;
    color: #713600;
    background-color: #cd8100;
    background-image: linear-gradient(#ffa201, #cd8100); }
  .RadComboBox_GlowApp .rcbReadOnly.rcbFocused,
  .RadComboBox_GlowApp .rcbReadOnly.rcbExpanded {
    border-color: #cd8100;
    color: #713600;
    background-color: #ffa915;
    background-image: none; }

.RadComboBoxDropDown_GlowApp {
  border-color: #20282d;
  color: #c1c7ca;
  background-color: #242e33; }
  .RadComboBoxDropDown_GlowApp .rcbHeader,
  .RadComboBoxDropDown_GlowApp .rcbFooter, .RadComboBoxDropDown_GlowApp .rcbCheckAllItems, .RadComboBoxDropDown_GlowApp .rcbMoreResults {
    border-color: #273237;
    color: #c1c7ca;
    background-color: #2b373d; }
  .RadComboBoxDropDown_GlowApp .rcbSeparator {
    color: #c1c7ca;
    background-color: #2b373d; }
  .RadComboBoxDropDown_GlowApp .rcbHovered {
    color: #ffffff;
    background-color: #4d5c65; }
  .RadComboBoxDropDown_GlowApp .rcbSelected {
    color: #000000;
    background-color: #ffa915; }
  .RadComboBoxDropDown_GlowApp .rcbLoading {
    color: #ffffff;
    background-color: #4d5c65; }
  .RadComboBoxDropDown_GlowApp .rcbItem em {
    color: #ffffff;
    background-color: #4d5c65; }
  .RadComboBoxDropDown_GlowApp .rcbCheckAllItemsHovered {
    color: #ffffff;
    background-color: #4d5c65; }
