.RadDropDownTree_GlowApp .rddtInner {
  border-color: #1c262c;
  color: #e2e8eb;
  background-color: #1c262c;
  background-image: linear-gradient(#30414b, #1c262c); }

.RadDropDownTree_GlowApp .rddtClearButton {
  color: #e2e8eb; }

.RadDropDownTree_GlowApp .rddtHovered {
  border-color: #cd8100;
  color: #713600;
  background-color: #cd8100;
  background-image: linear-gradient(#ffa201, #cd8100); }

.RadDropDownTree_GlowApp .rddtClearButtonHovered {
  color: #713600; }

.RadDropDownTree_GlowApp .rddtFocused {
  border-color: #cd8100;
  color: #713600;
  background-color: #ffa915;
  background-image: none; }

.rddtPopup_GlowApp {
  border-color: #20282d;
  color: #c1c7ca;
  background-color: #242e33; }
  .rddtPopup_GlowApp .rddtHeader,
  .rddtPopup_GlowApp .rddtFooter, .rddtPopup_GlowApp .rddtFilter {
    border-color: #273237;
    color: #c1c7ca;
    background-color: #2b373d; }
  .rddtPopup_GlowApp .rddtFilterInput {
    border-color: #1c262c;
    color: #fff;
    background-color: #1c262c; }
  .rddtPopup_GlowApp .RadTreeView em {
    color: #ffffff;
    background-color: #4d5c65; }
  .rddtPopup_GlowApp .rddtFilterInput.rddtHovered {
    border-color: #cd8100;
    color: #fff;
    background-color: #1c262c; }
  .rddtPopup_GlowApp .rddtFilterInput.rddtFocused {
    border-color: #cd8100;
    color: #fff;
    background-color: #1c262c; }
