.RadDropDownList_GlowApp .rddlInner {
  border-color: #1c262c;
  color: #e2e8eb;
  background-color: #1c262c;
  background-image: linear-gradient(#30414b, #1c262c); }

.RadDropDownList_GlowApp .rddlHovered {
  border-color: #cd8100;
  color: #713600;
  background-color: #cd8100;
  background-image: linear-gradient(#ffa201, #cd8100); }

.RadDropDownList_GlowApp .rddlFocused {
  border-color: #cd8100;
  color: #713600;
  background-color: #ffa915;
  background-image: none; }

.rddlPopup_GlowApp {
  border-color: #20282d;
  color: #c1c7ca;
  background-color: #242e33; }
  .rddlPopup_GlowApp .rddlHeader,
  .rddlPopup_GlowApp .rddlFooter {
    border-color: #20282d; }
  .rddlPopup_GlowApp .rddlItemHovered, .rddlPopup_GlowApp .rddlItemLoading {
    color: #ffffff;
    background-color: #4d5c65; }
  .rddlPopup_GlowApp .rddlItemSelected {
    color: #000000;
    background-color: #ffa915; }
