.RadListBox_GlowApp {
  color: #e2e8eb; }
  .RadListBox_GlowApp .rlbButton {
    border-color: #1c262c;
    color: #e2e8eb;
    background-color: #1c262c;
    background-image: linear-gradient(#30414b, #1c262c);
    border-radius: 3px; }
  .RadListBox_GlowApp .rlbGroup,
  .RadListBox_GlowApp .rlbTemplateContent {
    border-color: #1c2327;
    color: #e2e8eb;
    background-color: #35434b; }
  .RadListBox_GlowApp .rlbHeader,
  .RadListBox_GlowApp .rlbFooter {
    border-color: #273237;
    color: #c1c7ca;
    background-color: #2b373d; }
  .RadListBox_GlowApp .rlbCheckAllItems {
    color: #c1c7ca;
    background-color: #2b373d; }
  .RadListBox_GlowApp .rlbCheckAllItemsHovered {
    color: white;
    background-color: #202a2e; }
  .RadListBox_GlowApp .rlbGroup .rlbDropClueAbove {
    border-top-color: #ffa915; }
  .RadListBox_GlowApp .rlbGroup .rlbDropClueBelow {
    border-bottom-color: #ffa915; }
  .RadListBox_GlowApp .rlbGroup .rlbSelected.rlbDropClueAbove {
    border-top-color: #e2e8eb; }
  .RadListBox_GlowApp .rlbGroup .rlbSelected.rlbDropClueBelow {
    border-bottom-color: #e2e8eb; }
  .RadListBox_GlowApp .rlbButton:focus {
    border-color: rgba(205, 129, 0, 0.5);
    box-shadow: inset 0 0 5px rgba(205, 129, 0, 0.5); }
  .RadListBox_GlowApp .rlbHovered.rlbItem, .RadListBox_GlowApp .rlbHighlight {
    color: #ffffff;
    background-color: #4d5c65; }
  .RadListBox_GlowApp .rlbHovered.rlbButton {
    border-color: #cd8100;
    color: #713600;
    background-color: #cd8100;
    background-image: linear-gradient(#ffa201, #cd8100); }
  .RadListBox_GlowApp .rlbActive.rlbButton {
    border-color: #cd8100;
    color: #713600;
    background-color: #ffa915;
    background-image: none; }
  .RadListBox_GlowApp .rlbItem.rlbSelected {
    color: #000000;
    background-color: #ffa915; }

.RadListBox_GlowApp.RadListBoxButtonAreaTop.rlbFixedHeight .rlbGroup,
.RadListBox_GlowApp.RadListBoxButtonAreaTop.rlbFixedHeight .rlbTemplate {
  top: 2.61538em; }

.RadListBox_GlowApp.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbGroup,
.RadListBox_GlowApp.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbTemplate {
  bottom: 2.61538em; }
