.RadMap_GlowApp {
  /* Additional styles */
  /*Buttons*/
  /* Markers */
  /* Older IE Fix */ }
  .RadMap_GlowApp .k-header,
  .RadMap_GlowApp .k-widget,
  .RadMap_GlowApp .k-popup {
    color: #e2e8eb; }
  .RadMap_GlowApp .k-widget,
  .RadMap_GlowApp .k-header {
    background-color: #35434b;
    border-color: #273237; }
  .RadMap_GlowApp .k-header,
  .RadMap_GlowApp .k-button {
    background-color: #1c262c;
    background-image: none, linear-gradient(to bottom, #414e55, #2b373d); }
  .RadMap_GlowApp .k-button {
    border-color: #1c262c;
    color: #e2e8eb; }
  .RadMap_GlowApp.k-widget.k-tooltip {
    background-color: #35434b;
    border-color: #1c2327;
    background-image: none, linear-gradient(to bottom, #414e55, #2b373d);
    color: #e2e8eb; }
  .RadMap_GlowApp .k-tooltip-button,
  .RadMap_GlowApp .k-tooltip-button:hover {
    background-color: #713600; }
  .RadMap_GlowApp .k-i-close:before {
    color: #cd8100; }
  .RadMap_GlowApp .k-i-close:hover:before {
    color: #ffa915; }
  .RadMap_GlowApp .k-i-close:hover:active {
    color: #ffa915; }
  .RadMap_GlowApp .k-callout-n {
    border-bottom-color: #1c2327; }
  .RadMap_GlowApp .k-callout-e {
    border-left-color: #1c2327; }
  .RadMap_GlowApp .k-callout-s {
    border-top-color: #1c2327; }
  .RadMap_GlowApp .k-callout-w {
    border-right-color: #1c2327; }
  .RadMap_GlowApp div.k-navigator > .k-button .k-icon:before {
    color: #e2e8eb; }
  .RadMap_GlowApp .k-button:hover,
  .RadMap_GlowApp div.k-navigator > .k-button:hover {
    text-shadow: 0 0 0.3em #ffa915; }
  .RadMap_GlowApp div.k-navigator > .k-button:hover .k-icon:before {
    color: #ffa915; }
  .RadMap_GlowApp div.k-navigator > .k-button:active .k-icon:before,
  .RadMap_GlowApp div.k-navigator > .k-button:focus .k-icon:before {
    color: #ffa915; }
  .RadMap_GlowApp .k-marker:before {
    color: #ffa915; }
  @media \0screen\,screen\9 {
    .RadMap_GlowApp .k-icon {
      background-image: url('<%=WebResource("Telerik.Web.UI.Skins.Glow.Common.radActionsSprite.png")%>'); }
    .RadMap_GlowApp .k-i-arrow-n {
      background-position: -17px -17px; }
    .RadMap_GlowApp .k-button:hover .k-i-arrow-n {
      background-position: -67px -17px; }
    .RadMap_GlowApp .k-button:active .k-i-arrow-n,
    .RadMap_GlowApp .k-button:focus .k-i-arrow-n {
      background-position: -117px -17px; }
    .RadMap_GlowApp .k-i-arrow-e {
      background-position: -17px -167px; }
    .RadMap_GlowApp .k-button:hover .k-i-arrow-e {
      background-position: -67px -167px; }
    .RadMap_GlowApp .k-button:active .k-i-arrow-e,
    .RadMap_GlowApp .k-button:focus .k-i-arrow-e {
      background-position: -117px -167px; }
    .RadMap_GlowApp .k-i-arrow-s {
      background-position: -17px -67px; }
    .RadMap_GlowApp .k-button:hover .k-i-arrow-s {
      background-position: -67px -67px; }
    .RadMap_GlowApp .k-button:active .k-i-arrow-s,
    .RadMap_GlowApp .k-button:focus .k-i-arrow-s {
      background-position: -117px -67px; }
    .RadMap_GlowApp .k-i-arrow-w {
      background-position: -17px -117px; }
    .RadMap_GlowApp .k-button:hover .k-i-arrow-w {
      background-position: -67px -117px; }
    .RadMap_GlowApp .k-button:active .k-i-arrow-w,
    .RadMap_GlowApp .k-button:focus .k-i-arrow-w {
      background-position: -117px -117px; }
    .RadMap_GlowApp .k-i-close,
    .RadMap_GlowApp .k-i-close:hover {
      background-color: transparent;
      background-position: -67px -1917px; } }
